.color-option{
font-size: 14px;
background-color: antiquewhite;
padding:  5px 10px ;
margin: 5px;
border-radius: 5px;
cursor: pointer;
height: 10px;
width: 10px;
}
.color-option:hover{
    border:1px solid #edf1f7;
     box-shadow: 0 2px 4px rgba(0, 0 ,0,0.1);
}