.emoji-option{
font-size: 14px;
background-color: #fff;
padding:  5px 10px ;
margin: 5px;
border-radius: 5px;
cursor: pointer;
}
.emoji-option:hover{
    border:1px solid #3385ff;
     box-shadow: 0 2px 4px rgba(0, 0 ,0,0.1);
}